body{
    padding: 0;
    margin: 0;
    background-color: black;
    height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;
}

button{
    height: 100px;
    width: 100px;
    border: 1px solid black;
}
#red{
    background-color: red;
}
#blue{
    background-color: blue;
}
#green{
    background-color: green;
}
#purple{
    background-color: purple;
}
#orange{
    background-color: orange;
}